{% extends "simple_base.html" %}

{% block title %}Bind{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>选择绑定方式</h1>
    </div>
    <div>
    <form method="post">
{#        <a class="btn btn-primary btn-lg" href={{ url_for('bind.default') }}>校内学生</a>#}
        <input class="btn btn-primary btn-lg" type="submit" name="in" value="校内绑定">
        <br><br>
{#        <a class="btn btn-success btn-lg" href={{ url_for('bind.phone_register') }}>校外人员</a>#}
        <input class="btn btn-success btn-lg" type="submit" name="out" value="校外注册">
        </form>
    </div>
{% endblock %}
